<div class="col-6">
    <div class="form-floating mb-3">
        <label for="floatingInput">Student_ID</label>
        <input type="text" class="form-control" id="floatingInput" value="{{this.id}}" placeholder="Student_ID" name="id">
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <label for="floatingInput">Semester</label>
        <input type="text" class="form-control" id="floatingInput" value="{{this.semester}}" placeholder="text" name="semester">
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <label for="floatingInput">CGPA</label>
        <input type="text" class="form-control" id="floatingInput" value="{{this.cgpa}}" placeholder="text" name="cgpa">
    </div>
</div>

<div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>