<form action="/admin/login" method="post">
  <label for="adminAddress">Email Address</label>
  <input type="email" name="adminEmail" id="adminAddress" />
  <label for="adminPassword">Password</label>
  <input type="password" name="adminPassword" id="adminPassword" />
  <button type="submit">Login</button>
</form>