<h1>We're creating an admin in this page</h1>

<form action="/admin/landingPage" method="post">
  <label for="adminName">Name</label>
  <input type="text" name="adminName" id="adminName" />
  <label for="adminAddress">Email Address</label>
  <input type="email" name="adminEmail" id="adminAddress" />
  <label for="adminPassword">Password</label>
  <input type="password" name="adminPassword" id="adminPassword" />
  <button type="submit">Sign Up</button>
</form>
<a href="/admin/login"><button>Click Here to Login</button></a>