<form action="/user/login" method="post">
    <label for="reg_no">Registration Number</label>
    <input type="text" name="reg_no" id="reg_no">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    {{!-- <label for="student_role">Student</label>
    <input type="radio" name="role" id="student_role" value="student" checked>
    <label for="admin_role">Admin</label>
    <input type="radio" name="role" id="admin_role" value="admin"> --}}
    <a href=""><button type="submit">Login</button></a>
    <a href=""><button type="submit">Sign Up</button></a>
    <a href=""><button>Forgot Pasword? Click Here</button></a> {{!-- Implement a reset password logic --}}
    <a href="/admin/landingPage"><button type="submit">Click here to login as an Admin</submit></a>
</form>